# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
ats_env
.env

# Backup files # 

/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/algorithmic_trade_server.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
