django==3.2
djangorestframework==3.9.2
mysqlclient == 2.1.1
django_mysql == 4.9.0
channels == 4.0.0
daphne == 4.0.0
channels-redis == 4.0.0
django-cors-headers == 3.14.0
numpy
pandas
matplotlib
statsmodels
kiteconnect
autobahn==22.4.2